home/dotfiles/emacs/eln-cache
home/dotfiles/emacs/elpa/archives
home/dotfiles/emacs/eshell
home/dotfiles/emacs/games
home/dotfiles/emacs/straight
home/dotfiles/emacs/transient
home/dotfiles/emacs/tree-sitter
home/dotfiles/emacs/url
home/dotfiles/emacs/var/osm/default
home/dotfiles/emacs/.lsp-session-v1
home/dotfiles/emacs/.mc-lists.el
home/dotfiles/emacs/.org-id-locations
home/dotfiles/emacs/history
home/dotfiles/emacs/ido.last
home/dotfiles/emacs/org-roam.db
home/dotfiles/emacs/projectile-bookmarks.eld
home/dotfiles/emacs/projectile.cache
home/dotfiles/emacs/places
home/dotfiles/emacs/projects
home/dotfiles/emacs/custom.el
home/dotfiles/emacs/bookmarks
